*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 80vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 3rem;
   
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 0.8rem;
    padding: 0.5rem;
}
.Score_card{
    display: flex;
    border: 2px solid blueviolet;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 12rem;
    box-shadow:0px 0px 71px 19px rgba(199,237,204,0.18);
    border-radius: 20px;
}
.container .user {
    position: relative;
    left: 1.6rem;
}
.container .user, .computers{
    font-family: cursive;
    font-size: 1.4rem;
    background-color: rgba(255, 0, 0, 0.826);
    color: white;
    z-index: 1;
    padding: 0.3rem;
    border-radius: 10px;
}
.container .computers {
    position: relative;
    right: 1.6rem;
}
.container .rock,.paper, .scissors {
    margin-inline: 1rem;
    padding: 2rem;
    border-radius: 100%;
    border: 2px solid white;
    height: 12rem;
    width: 12rem;
   
}
.Score_card span{
    color: yellow;
    font-size: 2.4rem;
}
img{
    height: 8rem; 
    /* width: 7rem; */
}

.computer_choice{
    min-height: 20vh;
    margin: 1rem;
    padding: 2rem;
    border-radius: 100%;
    border: 2px solid white;
    height: 12rem;
    width: 12rem;
}

@media screen and (max-width:800px){
    img{
        height: 5rem;
    }
    .container .rock,.paper, .scissors{
        height: 7rem;
        width: 7rem;
        margin-inline: 0.5rem;
    padding: 1rem;
    }
    .computer_choice{
        height: 7rem;
        width: 10rem;
    }
    
}