@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
    height:100%;
    width:100%;
    font-family:'Poppins',sans-serif;
    color:#222;
    background-color:#E0FFFF;
}
.navbar{
    padding: .8rem;
    background-color:#000000;
    color:#E0FFFF;
    
}
 
.navbar-nav li{
    padding-right:20px;
     
    
}


.navbar-nav li a:hover{
    border-bottom: 3px solid black;
}
.nav-link{
    font-size:1.12m !important;
}
.carousel-inner img{
    width:100%;
        height:100%;
}
.carousel-caption{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size:500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
    font-size:200%;
   font-weight:500;
    text-shadow: 1px 1px 10px #000;
    padding:1rem;
}
.btn-primary{
    background-color:#6648b1;
    border:1px solid #563d7c;
}
.btn-primary:hover{
    background-color:#563d6c;
    border:1px solid #163d2c;
}
.jumbotron{
    padding:1rem;
    border-radius:0;
}
.padding{
    padding-bottom:2rem;
}
.welcome{
    width:75%;
    margin:0 auto;
    padding-top:2rem;
}
.welcome hr{
    border-top:2px solid #000000;
    width:95%;
    margin-top:.3rem;
    margin-bottom:1rem;
}
.fa-credit-card{
    color:#9932CC;
}
.fa-heart{
    color:#FFA500;
}
.fa-gift{
    color:#00FF7F;
}  
.fa-credit-card,.fa-heart,.fa-gift{
    font-size: 4em;
margin: 1rem;
}
 
.fun{
    width:100%;
     margin-bottom: 2rem;
}
.gif{
    max-width:100%;
}
.social a{
    font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook{
    color:#3b5998;
}
.fa-twitter{
    color:#00aced;
}
.fa-instagram{
    color:#517fa4;
}
.fa-google-plus-g{
    color:#dd4b39;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-google-plus-g:hover{
    color:#d5d5d5;
}
footer{
    background-color:#3f3f3f;
    color:#d5d5d5;
    padding-top:3rem;
}
hr.light{
    border-top:1px solid #d5d5d5;
    width:75%;
    margin-top:.8rem;
    margin-bottom: 1rem;
}
footer a{
    color:#d5d5d5;
}
/*---Media Queries --*/
@media (max-width: 992px) {
.social a{
     font-size: 4em;
    padding:2rem;
    }
  }
@media (max-width: 768px) {
  .carousel-caption{
    top:50%;
  
}
.carousel-caption h1{
    font-size:350%;
}
.carousel-caption h3{
    font-size:140%;
   font-weight:400;
    padding-bottom:.2rem;
}
    .display-4{
    font-size:200%;
    }
    .social a{
     font-size: 2.5em;
    padding:1.2rem;
    }
}
@media (max-width: 576px) {
  .carousel-caption{
    top:40%;
  
}
.carousel-caption h1{
    font-size:250%;
}
.carousel-caption h3{
    font-size:110%;
}
    .carousel-indicators{
display:none;
    }
    .display-4{
    font-size:160%;
    }
    .social a{
     font-size: 1.5em;
    padding:.8rem;
    }  
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('fixed.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}




 