{% extends 'app/home.html' %}

{% block main_block %}

	{% load staticfiles %}
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
	
	<div id="overlay">
		<div>

			<a id="cross" href="/app/home">X</a>
			<form method="post">
				<table>
					<caption>User Signup</caption>
					{{form.as_table}}
					<tr>
						<!-- <td colspan="2" align="center" >
							<div class="g-recaptcha" data-sitekey="6LdGi-8UAAAAAHfhxuNMsS-3bX7h5u_Xm9l4_Fno"></div>
						</td> -->
					</tr>
					<tr>
						<td colspan="2" id="btn_box">
							{% csrf_token %}
							<input  id="btn" type="submit" value="SignUp" />
								<a href="/app/home" id="btn_cancel" onclick="overlay()">Cancel</a>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<!--  <script src="https://www.google.com/recaptcha/api.js" async defer></script>-->
{% endblock %}