.banner {
    color: white;
    height:448px;
    object-fit: contain;
}

.banner_contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
}

.banner_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 2rem;
}

.banner_description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 20rem;
}

.banner_button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.2vw;
    font-weight: 700;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.banner_button:hover {
    color: black;
    background-color: white;
    transition: all 0.2s;
}

.banner_fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.765),
        #111
    );
}