h1{
    text-align: center;
    background-color: black;
    width: 600px;
    margin-left: 280px;
    color:gold ;

}
.game{
    margin-left: 280px;
    background-color: lightyellow;
    border: dashed black 3px;
    width: 600px;
    height: 500px;
}
.box{
    display: inline-block;
    width: 60px;
    height: 60px;
}
.player{
    background-color: blue;
    transform: translate(0,225px);
    animation: move 4.2s infinite linear ;
    animation-play-state:paused;

}
.enemy{
    background-color: red;
    animation: bounce linear infinite;
}
.enemy.one{
    margin-left:160px;
    animation-duration: 3s;
}
.enemy.two{
    animation-duration: 5s;
    margin-left:130px;
}
.game:active .player{
    animation-play-state: running;
}

@keyframes bounce{
    50%{
        transform: translate(0,440px);
    }
}
@keyframes move{
    50%{
        transform: translate(540px,270px);
    }
}