* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--text-color: #e0e0e0;
	--bg-color: #000000;
	--border-color: #424242;
}

html {
	scroll-padding: 10.5vh 0 0 0;
	scroll-behavior: smooth;
}

body {
	color: var(--text-color);
	background-color: var(--bg-color);
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	height: 10vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	background-color: #000000bb;
	z-index: 1;
	padding: 0 2em;
	backdrop-filter: blur(8px);
}

.header-border {
	border-bottom: 1px solid #e0e0e01e;
}

#header-title {
	font-size: 25px;
	font-size: clamp(20px, 5vw, 25px);
}

.hidden-visibility {
	visibility: hidden;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0.5em 1em;
}

nav li {
	padding: 0 0.5em;
}

a {
	color: var(--text-color);
	text-decoration-thickness: 1px;
	text-decoration-color: #ffffffb0;
	text-underline-offset: 4px;
	transition: all 0.1s ease-in;
}

a:hover {
	text-decoration-color: var(--text-color);
}

nav li a {
	padding: 0.75em;
}

/* ============================================== HOME SECTION ================================================== */

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#header-border-indicator {
	height: 1px;
}

#main-col-wrapper {
	width: 80vw;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-size: 60px;
	font-size: clamp(50px, 10vw, 90px);
	margin-bottom: 0.1em;
}

h2 {
	font-size: 30px;
	font-size: clamp(20px, 5vw, 35px);
	margin-bottom: 1em;
}

#main-descp {
	font-size: clamp(25px, 5vw, 35px);
}

#socials {
	display: flex;
	align-items: center;
	text-decoration: none;
}

#socials img {
	width: 1.5em !important;
	width: clamp(27px, 5vw, 35px) !important;
	margin: 0 0.5em;
}

#github-logo {
	margin-left: 0 !important;
}

.icon {
	width: 15em;
	width: clamp(200px, 30vw, 350px);
	margin: 1em 0;
}

#arrow {
	position: absolute;
	animation: moveUpDown 1.5s ease-in-out infinite;
}

@keyframes moveUpDown {
	0%,
	100% {
		bottom: 3em;
	}
	50% {
		bottom: 3.5em;
	}
}

/* ========================================= PROJECTS SECTION ============================================= */

section {
	margin-bottom: 5em;
	width: 90vw;
}

section:last-of-type {
	margin-bottom: 1em;
}

section h2 {
	font-size: 30px;
	font-size: clamp(25px, 5vw, 35px);
}

#project-cards-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 2em;
	padding: 2em 0 5em 0;
	align-items: stretch;
}

.project-card {
	padding: 1em;
	border: 1px solid var(--border-color);
	border-radius: 5px;
}

.project-card img {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
	border-radius: 5px;
}

.project-card .iframe-wrapper {
	aspect-ratio: 16/9;
	margin-bottom: 1em;
}

.project-card iframe {
	border-radius: 5px;
	width: 100%;
	height: 100%;
}

.project-name {
	margin-bottom: 1em;
	font-weight: bold;
	font-size: 20px;
	font-size: clamp(18px, 2vw, 20px);
}

.project-descp,
.project-links {
	margin-bottom: 1em;
	line-height: 1.4em;
	font-size: 16px;
	font-size: clamp(15px, 2vw, 17px);
}

.project-descp p {
	margin-bottom: 0.5em;
}

.project-tech {
	background-color: #4242425e;
	width: fit-content;
	padding: 0.4em 1em;
	margin: 2em 0 1em 0;
	border-radius: 1em;
	line-height: 1.5em;
}

.more-info-link {
	padding: 0.85em 1.25em;
	border: 1px solid var(--border-color);
	border-radius: 5px;
	text-decoration: none;
}

.more-info-link:hover {
	background-color: #42424285;
}

/* ============================================== INTERNSHIPS SECTION ======================================== */

.internship-exp {
	margin-bottom: 2em;
}

.internship-name {
	margin-bottom: 0.75em;
	font-weight: bold;
	font-size: 20px;
	font-size: clamp(18px, 2vw, 20px);
}

.internship-position {
	margin-bottom: 0.25em;
}

.internship-duration {
	margin-bottom: 0.5em;
}

.list-style-inside {
	list-style-position: inside;
	line-height: 1.7em;
}



/* ============================================== FOOTER ======================================== */

footer {
	height: 10vh;
	display: flex;
	text-align: center;
	align-items: center;
	margin: 0 0.5em;
}
hr{
	width: 100vh;
	height: .5px;
}

/* ============================================== SCROLL BAR ======================================== */

body::-webkit-scrollbar {
	width: 0.5em;
}

body::-webkit-scrollbar-track {
	background-color: transparent;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--border-color);
	border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #757575;
}

/* ============================================== MEDIA QUERIES ============================================ */

@media screen and (max-width: 920px) {
	header {
		padding: 0 1em;
	}

	#main-col-wrapper {
		flex-direction: column-reverse;
		align-items: flex-start;
	}

	#main-col-2 {
		margin-bottom: 1em;
	}

	#project-cards-wrapper {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	}
}

@media screen and (max-width: 1120px) {
	/* BURGER MENU */

	.navbar-ul {
		margin: 0;
	}

	.burger-menu:hover {
		cursor: pointer;
	}

	.line-1,
	.line-2,
	.line-3 {
		width: 25px;
		height: 1.5px;
		background-color: var(--text-color);
		margin: 5px;
	}

	.burger-menu-dropdown {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 11vh;
		right: 1.5vh;
		padding: 0.5em 0em;
		z-index: 1;
		border-radius: 5px;
		background-color: var(--bg-color);
		border: 1px solid var(--border-color);
	}

	.burger-menu-dropdown li {
		display: flex;
		justify-content: flex-end;
		margin-left: 0;
		padding: 0 0.5em 0 2em;
	}

	.hide-burger-menu {
		display: none;
	}
}
