<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title> AYUSH'S COVID-19 PROBABILITY DETECTOR</title>
  </head>
  <body>
    <h1></h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">COVID-19 VIRAL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT US</a>
            </li>
          
            
            <li class="nav-item">
              <a class="nav-link ">CONTACT US</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav> 
    
    
    <div class="container">
      <h2 class="text-center mt-3 "> CORONA VIRUS PROBABILITY DETECTOR</h2>
      <form action="/" method="POST">
      
    
        <div class="form-group">
          <label for="fever" >Enter fever value </label>
          <input type="text" class="form-control" id="fever" name="fever" placeholder="Enter fever value  ">
        </div>
        <div class="form-group">
          <label for="oxygen_level" >Enter oxygen level value </label>
          <input type="text" class="form-control" id="oxygen_level" name="oxygen_level" placeholder="Enter fever value  ">
        </div>
        <div class="form-group">
          <label for="age" >Enter age value </label>
          <input type="text" class="form-control" id="age" name="age" placeholder="Enter your age value  ">
        </div>
        <div class="form-group">
          <label for="bodypain" >Body Pain </label>
          <select  class="form-control custom select" name="bodypain" id=" bodypain">
            <option value="0">No pain</option>
            <option value="1">severe pain</option>
          </select>  
        
        <div class="form-group">
          <label for="runnynose " >RUNNING NOSE</label>
          <select  class="form-control custom select" name="runnynose" id=" runnynose">
              <option value="0">YES</option>
              <option value="1">NO</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="diffBreath" >DIFF BREATH</label>
          <select  class="form-control custom select" name="diffBreath" id=" diffBreath">
              <option value="-1">No Difficulty</option>
              <option value="0">Little Difficulty</option>
              <option value="1">severe Difficulty</option>

          </select>
          </div>
    
        <button class="btn btn-success" type="submit">Submit</button>
        </form>
      </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>